[credential]
	helper = osxkeychain
[user]
	name = Daniel Leal
	email = tools@daleal.dev
[core]
	editor = zed --wait
	pager = less
[pager]
	branch = false
[init]
	defaultBranch = main
[absorb]
	maxStack = 20
	oneFixupPerCommit = true
