[credential]
	helper = osxkeychain
[user]
	name = Daniel Leal
	email = daniel@fintoc.com
[core]
	editor = zed --wait
	pager = less
[pager]
	branch = false
[init]
	defaultBranch = main
[absorb]
	maxStack = 20
	oneFixupPerCommit = true
[http]
	sslCAInfo = /Library/Application Support/AikidoSecurity/EndpointProtection/run/endpoint-protection-openssl-combined-ca.pem
