[credential]
	helper = !gh auth git-credential
[user]
	name = Daniel Leal
	email = daniel@fintoc.com
[core]
	editor = nano
	pager = less
[pager]
	branch = false
[init]
	defaultBranch = main
[absorb]
	maxStack = 20
	oneFixupPerCommit = true
